@import './sass/_variable.sass'
@import './sass/_CreateUser'

html, body
  font-family: Tahoma
  margin: 0
  padding: 0

nav
  display: flex
  justify-content: space-evenly

input
  font-size: 1rem

.App
  min-height: 100vh
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.logo-main
  width: 100px
  height: 100px
